#publication  {
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1%;
}
#research  {
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1%;
}
#aboutme  {
    text-align: justify;
    text-justify: inter-word;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 1%;
}